input.input {
  border: solid 2px transparent;
  border-radius: 3px;
  outline: none;
  box-shadow: none;
  resize: none;
  display:inline-block;
  vertical-align:middle;
  line-height: 16px;
  padding: 10px;
  box-sizing:border-box
}

input.input:focus {
  border: solid 2px #2c74a4;
  outline: none;

}
