input.input {
  border: solid 2px transparent;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  resize: none;
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  padding: 15px 10px;
  box-sizing: border-box;
}

input.input:focus {
  border: solid 2px #2c74a4;
  outline: none;
}

input.input:hover {
  -webkit-transition: all 1s 0s ease;
  -moz-transition: all 1s 0s ease;
  -o-transition: all 1s 0s ease;
  transition: all 1s 0s ease;
}
