.messaging-section {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #3998d5;
  width: 100%;
  padding: 15px 0;

;
}

.grid {
  display: grid;
  grid-template-columns: 8fr 1fr;
width: 80%;
  margin: 0 auto;
}

.chat-area {
  position: relative;
  /*height: 90vh;*/
  overflow-y: auto;
  width: 80%;
  display: block;
  margin: 0 auto;
}
