button.button {
  background: #fe866e;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  padding: 17px 40px;
  line-height: 20px;
  font-weight: 700;
  cursor: pointer;
}

button.button:hover {
  -webkit-transition: all 1s 0s ease;
  -moz-transition: all 1s 0s ease;
  -o-transition: all 1s 0s ease;
  transition: all 1s 0s ease;
  filter: brightness(110%);
}
