.bubble {
  padding: 20px;
  border-radius: 5px;
  max-width: 52vw;
  margin-bottom: 20px;
  float: right;
  border: solid 1px #d4d8dd;
  clear: both;
}

.bubble p {
  margin: 0;
  font-size: 16px;
}

.bubble.self {
  background: #ffffff;
  float: right;
}

.bubble:hover {
  filter: saturate(2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.bubble.other {
  background: #fcf7c2;
  float: left;
}

.bubble .timestamp,
.bubble .author {
  font-size: 13px;
  color: #bfc2c5;
}

.bubble .timestamp {
  text-align: right;
}
