@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  background: url(./assets/body_bg.png);
  background-size: 50%;
  background-repeat: repeat;
  background-attachment: fixed;
}

body.login {
  background: #3998d5;
}

.full-width {
  width: 100%;
}
