@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  font-family: "Nunito", sans-serif;
  background: url(./assets/body_bg.png);
  background-size: 50%;
  background-repeat: repeat;
  background-attachment: fixed;
}

.full-width {
  width: 100%;
}
